<%= simple_form_for(@zipcode) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :code %>
    <%= f.input :street %>
    <%= f.input :neighbordhood %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :ibge %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
