<div class="page-header">
  <h1><%=t '.title', default: "Listing Contacts"  %></h1>
</div>


<%= link_to new_contact_path, {:class => 'btn btn-default btn-action'} do %>
<span class="glyphicon glyphicon-plus"></span>
<%=t '.new', default: "New Contact"  %>
<% end %>

<div class="panel panel-default" id="filter-panel">
  <div class="panel-heading"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
    Custom Filters
  </div>
  <div class="panel-body">

    <div class="form-group">
      <label>Segmentations</label>
      <%= select_tag "segment_id",  options_from_collection_for_select(@segments, "query", "description"), include_blank:true, class: 'form-control' %>      
    </div>

    <%= search_form_for @q do |f| %>
    <fieldset>
      <legend>Custom Filters</legend>
      <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c %>
      <% end %>
      <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
      <div class="actions">
        <button type="submit" id="btn-apply" class="btn btn-default"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Apply</button>          
        <a href="#" id="btn-save" class="btn btn-default"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save Current Filter</a>
      </div>
    </fieldset>
    <% end %>

  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Born at</th>
        <th>Zipcode</th>
        <th>Nationality</th>
        <th>Occupation</th>
        <th>About</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.born_at %></td>
        <td><%= contact.zipcode %></td>
        <td><%= contact.nationality %></td>
        <td><%= contact.occupation %></td>
        <td><%= contact.about %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact), class:'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>