<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RDRV</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="<%= active_page?('home') %>"><a href="<%= root_path %>">Home</a></li>
        <li class="<%= active_page?('contacts') %>"><a href="<%= contacts_path %>">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if user_signed_in? %>
          <%=  link_to "#{current_user.email} - Logout", destroy_user_session_path, data: {}, :method => :delete  %>            
          <% end %>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>